<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table, th, td{
            border:1px solid #868585;
        }
        table{
            border-collapse:collapse;
            width:100%;
        }
        th, td{
            text-align:left;
            padding:10px;
        }
        table tr:nth-child(odd){
            background-color:#eee;
        }
        table tr:nth-child(even){
            background-color:white;
        }
        table tr:nth-child(1){
            background-color:skyblue;
        }
    </style>
</head>
<body>
<h3>Tạo thành phố</h3>

<p th:text="${message}"></p>
<form th:action="@{/createcity}" th:object="${city}" method="post">
    <table border="1px">
        <tr>
            <td>Tên thành phố</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quốc gia</td>
            <td>
                <select name="nation" id="nation">
                    <option th:each="c,categoryStat:${nations}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Diện tích</td>
            <td><input type="text" th:field="*{area}"></td>
        </tr>
        <tr>
            <td>Dân số</td>
            <td><input type="text" th:field="*{population}"></td>
        </tr>
        <tr>
            <td>GDP</td>
            <td><input type="text" th:field="*{gdp}"></td>
        </tr>
        <tr>
            <td>Giới thiệu</td>
            <td><input type="text" th:field="*{des}"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Lưu"></td>
        </tr>
    </table>
    <ul>
        <li><a th:href="@{/}">trở về home</a></li>
    </ul>
</form>
</body>
</html>