<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a th:href="@{/}">danh sách thành phố</a></li>
</ul>
<h1>Chi tiết thành phố</h1>
<div th:object="${city}">
    <p>ten: <span th:text="*{name}"></span></p>
    <p>quoc gia: <span th:text="*{nation.name}"></span></p>
    <p>dien tich: <span th:text="*{area}"></span></p>
    <p>dan so: <span th:text="*{population}"></span></p>
    <p>gdp: <span th:text="*{gdp}"></span></p>
    <p>Giới thiệu: <span th:text="*{des}"></span></p>
    <div><button><a  th:href="@{/edit/city/__${city.id}__ }">chỉnh sửa</a></button>
        <button><a  th:href="@{/delete/city/__${city.id}__ }"  th:onclick="return confirm('bạn có chắc muốn xóa')">xóa</a></button>
    </div>
</div>
</body>
</html>